body {
    font-family: Times New Roman;
    font-size: 1em;          /* 1em equivale a 16px por defecto */
    }
div#total {
    min-width: 40.625em;             /* 650px/16px = 40.625em */
    border: maroon dashed 0.0625em;  /* 1px/16px = 0.0625em */
    }
div#cabeza {
    border: red solid 0.0625em;
    padding: 0.3125em;               /* 5px/16px = 0.3125em */
    }
div#lateral {
    width: 6.25em;                   /* 100px/16px = 6.25em */
    height: 100%;
    padding: 0.3125em;                       
    float: left;
    border: blue solid 0.0625em;
    }
div#lateral ul{
    padding-left: 1em;               /* 16px/16px = 1em */   
    border: green dotted 0.0625em;
    }
div#lateral ul li {
    margin-left: 0;
    }
div#contenido {
    /* Con el ancho del lateral del ejemplo anterior: 112px/16px = 7em
    Que es lo mismo que sumar el ancho del lateral más sus dos
    rellenos y bordes, todo sumado en em's:
    6.25em + (2 x 0.3125em) + (2 x 0.0625em) = 7em
    */
    margin-left: 7em;
    padding: 0.3125em;
    border: green solid 0.0625em;
    }
div#contenido p {
    text-align: justify;
    }


    /* el div del pie es estatico y no puede ser comprimido */
div#pie {
    padding: 0.3125em;      
    border: red solid 0.0625em;
    }
div.borra-flotacion {
    clear: both;
    }    